.reestar{
    background-color: black;
    color:white ;
}
.reestar__title{
    text-align: center;
}
.reestar__options{
    text-align: center;
    color: gray;
cursor: pointer;
}

.reestar__para{

    display: inline-block;
   
}
.reestar__food1{
    display: inline-block;
    width: 300px;
    border: solid black 2px ;
    padding: 10px;
    margin-left: 70px;
   
}
.reestar__food2{
    display: inline-block;
    width: 300px;
    border: solid black 2px ;
    padding: 10px;
    margin-left: 10px;
    

   
}
.reestar__food3{
    display: inline-block;
    width: 300px;
    border: solid black 2px ;
    padding: 10px;
    margin-left: 10px;
}
.reestar__img{
    padding-bottom: 18px;
}
.reestar__button{
    background-color: black;
    color: white;
   margin-left: 80px;
padding: 5px;
}
.reestar__button:hover{
    background-color: aqua;
}

.reestar__contact{
    background-color: black;
    color: white;
    text-align: center;

}
.reestar__table{
   padding-left: 480px;
}
    .reestar__p{
       background-color: black;
        color: white;
        padding: 5px;
        text-align: center;
      padding-left: 30px;
      

      
    }
    .reestar1{
        background-color: orange;
        text-align: center;
      display: inline-block;
      width: 300px;
      
    }
        
